.searchBarLabel {
  font-size: 15px;
  font-weight: bolder;
}

.searchBarField {
  width: 250px;
  height: 30px;
}


.searchBarList {
  display: flex;
  flex-direction: column;
  width: 250px;
}

/* .roomButtons {
  display: flex;
  flex-direction: column;
} */

.roomListHeader {
  width: 240px;
}

.categoryHeader {
  width: 240px;
}


.createRoomDisplay {
  position: absolute;
  top: 250px;
  right: 50px;
}

.createRoomForm {
  position: absolute;
  top: 250px;
  right: 50px;
}