.animationContainer {
  position: relative;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.animationImages {
  position: relative;
  width: 800;
  height: auto;
}

.cancelButton {
  position:absolute;
  top:auto;
  bottom: auto;
  left:auto;
  right: auto;
  color: white;
  border: white 1px solid;
  height: 10%;
  width: 30%;
  font-size: 2em;
  background-color: #026ca4;
  box-shadow: (30px 15px 10px #909495);
  transform: translate(115%, 390%);
  padding: 0 10px;
}

.chatChannel {
  position: absolute;
  height: 10%;
  width: 29.5%;
  border: black solid 2px;
  transform: translate(-110%, 500%);
  font-size: 2.5em;
  font-weight: 900;
  text-align: left;
  padding-left: 3.25%;
  background-color: yellow;
  
}