.animationContainer {
  position: relative;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.animationImages {
  position: relative;
  width: 800;
  height: auto;
}