*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100vh;
  width: 100vw;
  font-family: 'Arial'; */
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background: url('https://wallpapercave.com/wp/wp11023082.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100vw;
  max-height: 100vh;
  cursor: url("/assets/cursors/windows-98/Cursor79.cur"), auto;
}


.main {
  padding: 20px 10px 20px 10px;
  margin: 20px;
}

.window {
  position:relative;
  

  /* position: fixed; */
  display: flex;
  flex-direction: column;
  margin: 20px, 40px, 20px, 40px;
  max-width: 90vw;
  max-height: 100vh;
  align-content: center;
  min-height: 25vh;
    width: 100%;
    height: 100%;
  
  

  /* min-height: 90%; */
}

.window-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
}

#dummy-toolbar {
  position: relative;
  width: 100%;
  max-width: 100vw;
}

#dummy-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100vw;
}

button:hover {
  cursor: url("/assets/cursors/windows-98/Cursor107.cur"), pointer;
}

.signoff:hover {
  cursor: url("/assets/cursors/windows-98/Cursor107.cur"), pointer;
}