.channelPage {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

.chatChannel {
  position: absolute;
  height: 10%;
  width: 29.5%;
  border: black solid 2px;
  transform: translate(-110%, 500%);
  font-size: 2.5em;
  font-weight: 900;
  text-align: left;
  padding-left: 3.25%;
  background-color: yellow;
}

.channels {
  height: auto;
  width: 100%;
}